<!-- 
      <div ng-controller='PeopleController'>
          <div >
              Search <input ng-model="searchTerm"/>            </div>
          <span># People: {{people.length}}</span>
      <div class='person' ng-repeat='peep in people | filter:searchTerm ' >
              <p>Name: {{peep.name}} </p>
              <p>Age: {{peep.age}} </p>
              <div class='potato' ng-repeat='krill in peep.hobbies'>
                  {{krill}}
              </div>
          </div>
      </div> -->



<html>
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='FriendController.js' type='text/javascript'></script>



<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>

<body ng-app='AngularFriends'>

<h1>The <strong>facebook</strong> Friend Machine</h1>

<div class="friends" ng-controller="FriendController">


<form class="form-inline searchForm" role="form">
  <div class="form-group">

  <!--<input class="form-control" placeholder="Search Anything About Your Friends" ng-model="searchTerm">-->
  <!-- The stuff below is For step 5....get rid of the one above if you wish-->
    
    <input class="form-control" placeholder="Search Your Friends' Name" ng-model="searchName.name">
    <input class="form-control" placeholder="Search Your Freinds' Location" ng-model="searchLocation.current_location"> 
 
    <select ng-model="sort1" class="input-medium">
        <option value="name">Name</option>
        <option value="friend_count"># friends</option>
        <option value="current_location.city">City</option>
        <option value="current_location.state">State</option>
        <option value="current_location.country">Country</option>
    </select>
    <select ng-model="sort2" class="input-medium" >
        <option value="true">Descending</option>
        <option value="false">Ascending</option>
    </select>
  </div>
</form>

  <ul>
    <li class='friend' ng-repeat="friend in friends | filter:searchName | filter:searchLocation | orderBy:sort1:sort2">
       <img class="profile-pic" ng-src='{{friend.pic_square}}'>
      <h3>{{friend.name}}</h3>
      <div class="location"  ng-if="friend.current_location!=null">
        Location: {{friend.current_location.city}},  {{friend.current_location.state}}, {{friend.current_location.country}}
      </div>      
      <div class="status" ng-if="friend.status.message!=null">
        Status: {{friend.status.message}}
      </div>      
      <div class="num-friends"  ng-if="friend.friend_count!=null">
        Friends: {{friend.friend_count}}
      </div>
    </li>
  </ul>
</div>






</body>
</html>